<h2>Resumen de Campañas</h2>

<p><b>Total campañas:</b> @ViewBag.Total</p>
<p><b>Campañas vigentes:</b> @ViewBag.Vigentes</p>
<p><b>Campañas próximas:</b> @ViewBag.Proximas</p>
<p><b>Promedio descuento:</b> @ViewBag.Promedio %</p>

<h3>Por canal</h3>
<p>Web: @ViewBag.Web</p>
<p>App: @ViewBag.App</p>
<p>Tienda: @ViewBag.Tienda</p>

<br />
<a href="/Campanas" class="btn btn-primary">Volver</a>
